<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed active" data-toggle="collapse" data-target="#navmenu" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Image Uploading SPA</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navmenu">
      <ul class="nav navbar-nav">
        <li><a href="#">Table View</a></li>
        <li><a href="#">Blocks View</a></li>
        <li><a ng-click="changeTemplate('upload')">Image Upload</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li><a ng-click="changeTemplate('signIn')">Sing In</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
